@font-face {
  font-family: 'Poppins';
  src: url('../fonts/fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AbrilFatface';
  src: url('../fonts/AbrilFatface-Regular.woff') format('woff'),
    url('../fonts/AbrilFatface-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DarkerGrotesque';
  src: url('../fonts/DarkerGrotesque-Regular.woff') format('woff'),
    url('../fonts/DarkerGrotesque-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DarkerGrotesque';
  src: url('../fonts/DarkerGrotesque-Bold.woff') format('woff'),
    url('../fonts/DarkerGrotesque-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
