@font-face {
  font-family: 'Poppins';
  src: url('../fonts/fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abril Fatface';
  src: url('../fonts/AbrilFatface-Regular.woff') format('woff'),
    url('../fonts/AbrilFatface-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/DarkerGrotesque-ExtraBold.woff2') format('woff2'),
      url('../fonts/DarkerGrotesque-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/DarkerGrotesque-Black.woff2') format('woff2'),
      url('../fonts/DarkerGrotesque-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/DarkerGrotesque-SemiBold.woff2') format('woff2'),
      url('../fonts/DarkerGrotesque-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/DarkerGrotesque-Bold.woff2') format('woff2'),
      url('../fonts/DarkerGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'modules';
  src: url('../fonts/modules.woff') format('woff'),
    url('../fonts/modules.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
