$main-bg: #f0f0f0;
$brand-bg: #2a5b98;
$main-color: #333333;
$brand-color: #2a5b98;
$brand-sub-color: #53bfff;
$light-color: #fff;

$strong-color: #ff0000;
$verified-color: #26a69a;

$confirmed: #26a69a;
$canceled: #b41919;
$progress: #d37904;

$basic-font: 'Open Sans' ,Arial ,sans-serif;;
$second-font: 'Darker Grotesque', Helvetica, Arial, Lucida, sans-serif;
$brand-font: 'Abril Fatface', display;
