
<button type="button" class="scroll-top"></button>

<script type="text/javascript" id="et-builder-modules-script-motion-js-extra">
  /* <![CDATA[ */
  var et_pb_motion_elements = {
      "desktop":[
          {"id":".foundation__decor","start":0,"midStart":50,"midEnd":50,"end":100,"startValue":45,"midValue":0,"endValue":-45,"resolver":"rotate","module_type":"et_pb_image","trigger_start":"middle","trigger_end":"middle"},
          {"id":".decor-text__item","start":0,"midStart":50,"midEnd":50,"end":100,"startValue":2,"midValue":0,"endValue":-2,"resolver":"translateY","module_type":"et_pb_text","trigger_start":"middle","trigger_end":"middle"}
      ],
      "tablet":[
          {"id":".foundation__decor","start":0,"midStart":50,"midEnd":50,"end":100,"startValue":45,"midValue":0,"endValue":-45,"resolver":"rotate","module_type":"et_pb_image","trigger_start":"middle","trigger_end":"middle"},
          {"id":".decor-text__item","start":0,"midStart":50,"midEnd":50,"end":100,"startValue":2,"midValue":0,"endValue":-2,"resolver":"translateY","module_type":"et_pb_text","trigger_start":"middle","trigger_end":"middle"}
      ],
      "phone":[
          {"id":".foundation__decor","start":0,"midStart":50,"midEnd":50,"end":100,"startValue":45,"midValue":0,"endValue":-45,"resolver":"rotate","module_type":"et_pb_image","trigger_start":"middle","trigger_end":"middle"},
          {"id":".decor-text__item","start":0,"midStart":50,"midEnd":50,"end":100,"startValue":0,"midValue":0,"endValue":0,"resolver":"translateY","module_type":"et_pb_text","trigger_start":"middle","trigger_end":"middle"}
      ]};
  /* ]]> */
</script>

<script src="./plugins/jquery.min.js"></script>
<script src="./plugins/jarallax.min.js"></script>
<script src="./plugins/spin.js"></script>
<script src="./plugins/motion-effects.js"></script>
<script src="./js/script.min.js"></script>
