.aside__wrap {
  margin: 0 auto;
  width: 80%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  background-color: #ddccb8;
  box-shadow: 30vw 0px 0px 0px #ddccb8;
  margin-top: -180px;
  position: relative;
  z-index: 3;
}

.aside__about-wrap {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}

.aside__wrap-heading {
  display: flex;
  align-items: baseline;
  text-align: right;
}

.aside__heading {
  font-family: 'Darker Grotesque';
  font-weight: 900;
  font-size: 60px;
  width: 60%;
  padding: 60px 30px;
}

.aside__btn-wrap {
  width: 40%;
}

.aside__btn {
  color: #fff;
  text-align: center;
  font-family: 'Darker Grotesque';
  font-weight: 700;
  text-transform: uppercase;
  background-color: #283444;
  padding: 15px 40px;
  width: 232px;
  height: 68px;
}
