.aside__wrap {
  @include content;

  display: flex;
  flex-direction: column;
  background-color: #ddccb8;
  box-shadow: 30vw 0px 0px 0px #ddccb8;
  margin-top: -126px;
  position: relative;
  z-index: 3;

  @include media-xl {
   margin-top: 50px;
  }

  @include media-exsm {
    box-shadow: none;
  }
}

.aside__about-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px 30px;
  gap: 30px;

  @include media-md {
    grid-template-columns: 1fr 1fr;
  }

  @include media-exsm {
    padding: 30px 0;
    grid-template-columns: 1fr;
  }
}

.aside__wrap-heading {
  display: flex;
  align-items: baseline;
  text-align: right;

  @include media-md  {
    flex-wrap: wrap;
   }
}

.aside__heading {
  font-family: $second-font;
  font-weight: 900;
  font-size: 60px;
  width: 70%;
  padding: 27px 30px;

  @include media-md  {
    width: 100%;
    font-size: 42px;
   }

  @include media-exsm {
    font-size: 30px;
    width: 100%;
    padding: 30px 0 30px 20px;
  }
}

.aside__btn-wrap {
  width: 40%;
}

.aside__btn {
  color: #fff;
  text-align: center;
  font-family: $second-font;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #283444;
  padding: 15px 40px;
  width: 252px;
  height: 68px;
  font-size: 20px;

  @include active;
}
