.footer {
  background-color: #222222;
}

.footer__wrap {
  @include content;
  padding: 20px 0;
}

.footer__text {
  text-align: left;
  color: #666;
  font-size: 16px;

  @include media-exsm  {
    text-align: center;
  }
}
