.team {
  background-size: initial;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url('../img/team-bg.png');
  width: 100%;
  padding-bottom: 100px;

  @include media-md {
    padding-bottom: 50px;
  }
}

.team__wrap {
  display: flex;
  @include content;

  @include media-xl {
    flex-direction: column;
    align-items: center;
  }
}
